.work-space {
  width: 100%;
  height: calc(100% - 30px);
  padding: 0 12px;
  overflow: auto;
}
.is-focus {
  outline: 1px dashed #5584ff !important;
  outline-offset: -1px;
}
.is-over {
  border-top: 5px solid #5584ff;
}
.assist-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  .assist-nav-left {
    display: flex;
    align-items: center;
  }
}
