.work-space {
  width: 100%;
  height: calc(100% - 30px);
  padding: 0 12px;
  overflow: auto;
}
.is-focus {
  border: 2px dotted #5584ff !important;
}
.assist-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  .assist-nav-left {
    display: flex;
    align-items: center;
  }
}
