.space-config {
  padding: 12px;
  .title-current {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .form-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 6px;
    font-size: 12px;
    .form-item-name {
      flex-basis: 80px;
    }
    & > span {
      flex-basis: 90px;
      text-align: right;
    }
    .ant-input {
      font-size: 12px;
    }
  }
  .delete-select-option {
    position: relative;
    top: 4px;
    color: red;
    cursor: pointer;
  }
  .ant-form-item {
    margin-bottom: 0;
  }
}
