@import "./style/reset.css";
/* @import "~antd/dist/antd.css"; */
@import "~antd/dist/antd.compact.css";

/* 覆盖antd的原生样式 */
.ant-menu-item {
  padding-left: 19px !important;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 8px;
}
/* 覆盖全局滚动条样式 */
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  background-color: #ccc;
  border-radius: 2px;
}
